
@{
	ViewBag.Title = "EditTruck";
}

<h2>แก้ไขข้อมูลรถ</h2>

<h3>ข้อมูลรถ</h3>
<div class="row ws-content">
	<div class="container">

		<div class="col-md-6 col-md-push-1" style="margin-top:10px;margin-bottom:10px;">
			<label for="sel1">ทะเบียนรถ : </label>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></span>
				<input type="text" class="form-control" placeholder="เลขที่" aria-describedby="basic-addon1">
			</div>
			<br />
			<label for="sel1">จังหวัด : </label>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></span>
				<input type="text" class="form-control" placeholder="จังหวัด" aria-describedby="basic-addon1">
			</div>
			<br />
			<label for="sel1">น้ำหนักตัวรถ (ตัน) : </label>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span></span>
				<input type="text" class="form-control" placeholder="น้ำหนักตัวรถ (ตัน)" aria-describedby="basic-addon1">
			</div>
			<br />
		</div>
		<div class="col-md-6 col-md-push-1" style="margin-top:10px;margin-bottom:10px;">
			<label for="sel1">ลักษณะยานพาหนะ : </label>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></span>
				<textarea type="text" class="form-control" placeholder="ลักษณะยานพาหนะ" aria-describedby="basic-addon1" rows="8"></textarea>
			</div>
		</div>

	</div>
</div>
