
@{
    ViewBag.Title = "History";
}
<link href="~/Content/Search.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<br />
<div class="row">
	<div class="container">
		<div class="col-lg-6" align="left">
			<h2>ประวัติการขนส่ง</h2>
		</div>
		<div class="col-lg-6" align="right" style="padding:25px;">
			<form>
				<input type="text" name="search" placeholder="Search" align="right">
			</form>
		</div>
	</div>
</div>
<br /><br />

	  <div ng-app="myApp" ng-controller="GETHistory">
		  <div ng-show="his">
		  	<h3>ข้อมูลส่วนผู้ขับรถ</h3>
		  	<br />
		  	<div class="row">
		  		<div class="container">
		  			<div class="col-md-2 col-md-push-1" style="margin-top:10px;margin-bottom:10px;">
		  				<img src="https://cms.kapook.com/uploads/tag/1/thumb_991_5886cd3df28d4.jpg" class="img-responsive" width="300" height="300"><br />
		  			</div>
		  			<div class="col-md-10 col-md-push-1" style="margin-top:10px;margin-bottom:10px;">
		  				<div class="col-md-6 col-md-push-1" style="margin-top:10px;margin-bottom:10px;">
		  					<label for="sel1">ชื่อคนขับรถ (Driver Name) : คนึง โรจน์เพียรธรรม</label><br /><br />
		  					<label for="sel1">หมายเลขทะเบียนรถ (car Registration) : บพ 9999</label><br />
		  				</div>
		  				<div class="col-md-6 col-md-push-1" style="margin-top:10px;margin-bottom:10px;">
		  					<label for="sel1">สถานะ (Status) : รับการจ่ายงานจาก Admin สำเร็จแล้ว</label><br />
		  				</div>

		  			</div>
		  		</div>
		  	</div>

		  	<hr />

		  	<h3>ใบคำสั่งการจัดส่ง</h3>
		  	<br />

		  	<div class="row">
		  		<div class="container">
		  			<div class="col-md-2 col-md-push-1" style="margin-top:10px;margin-bottom:10px;">

		  			</div>
		  			<div class="col-md-10 col-md-push-1" style="margin-top:10px;margin-bottom:10px;">
		  				<div class="col-md-6 col-md-push-1" style="margin-top:10px;margin-bottom:10px;">
		  					<label for="sel1">หมายเลขการจัดส่ง (Delivery No) : T0132413E</label><br /><br />
		  					<label for="sel1">วันที่จัดส่ง (Delivery Date) : 20 มีนาคม 2561</label><br /><br />
		  					<label for="sel1">คลังสินค้าต้นทาง (Carco Station) : แหลมฉบัง</label><br />
		  				</div>
		  				<div class="col-md-6 col-md-push-1" style="margin-top:10px;margin-bottom:10px;">
		  					<label for="sel1">หมายเลขใบสั่งซื้อ (Order No) : SHP11101110</label><br /><br />
		  					<label for="sel1">วันครบกำหนดการจัดส่ง (Due Date) : 20 เมษายน 2561</label><br /><br />
		  					<label for="sel1">จุดหมายปลายทาง (Destination Station) : BigC</label><br />
		  				</div>

		  			</div>
		  		</div>
		  	</div>

		  </div>

		  <br />
	  	<div class="row ws-content">
	  		<div class="container">
	  			<table class="table">
	  				<thead>
	  					<tr>
	  						<th>สถานะ</th>
	  						<th>หมายเลขการจัดส่ง</th>
	  						<th>รถขนส่งทะเบียน</th>
	  						<th>คนขับรถ</th>
	  						<th>หมายเหตุ</th>
	  					</tr>
	  				</thead>
	  				<tbody>
	  					<tr>
	  						<td>รับงานจาก Admin สำเร็จแล้ว</td>
	  						<td>T0132413E</td>
	  						<td>บพ 9999</td>
	  						<td>คนึง โรจน์เพียรธรรม</td>
	  						<td>
	  							<button type="button" class="btn btn-primary btn-sm" ng-click="openhistory()" ng-if="action === 'open'">รายละเอียดการจัดส่ง</button>
	  							<button type="button" class="btn btn-danger btn-sm" ng-click="closehistory()" ng-if="action === 'close'">ปิด</button>
	  						</td>
	  					</tr>
	  					<tr>
	  						<td>Mary</td>
	  						<td>Moe</td>
	  						<td>mary@example.com</td>
	  						<td>mary@example.com</td>
	  					</tr>
	  				</tbody>
	  			</table>
	  		</div>
	  	</div>
	  </div>