
@{
    ViewBag.Title = "Admin_manage";
}

<h2>มอบหมายงานขนส่ง</h2>
<br />
<hr />

<h3>ข้อมูลคนขับรถ</h3>
<br />
<div class="row">
    <div class="container">
        <div class="col-md-6 col-md-push-1" style="margin-top:10px;margin-bottom:10px;">
            <label for="sel1">Shipment No : </label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></span>
                <input type="text" class="form-control" placeholder="Shipment No" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-6 col-md-push-1" style="margin-top:10px;margin-bottom:10px;">
            <label for="sel1">Status : </label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span></span>
                <input type="text" class="form-control" value="กำลังส่งของ" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-6 col-md-push-1" style="margin-top:10px;margin-bottom:10px;">
            <label for="sel1">Delivery Date : </label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                <input type="date" value="2018-02-22" class="form-control" aria-describedby="basic-addon1">
                
            </div>
        </div>
        <div class="col-md-6 col-md-push-1" style="margin-top:10px;margin-bottom:10px;">
            <label for="sel1">Driver : </label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                <input type="text" class="form-control" value="ปริญญา" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-6 col-md-push-1" style="margin-top:10px;margin-bottom:10px;">
            <label for="sel1">Truck No : </label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></span>
                <select class="form-control" id="sel1">
                    <option>Truck No...</option>
                    <option>บพ 9999</option>
                    <option>อก 8989</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-md-push-1" style="margin-top:10px;margin-bottom:10px;">

           
        </div>
    </div>
</div>

<hr />

<h3>Delivery Orders</h3>
<br />
<div class="row">
    <div class="container">
        <div class="col-md-6 col-md-push-1" style="margin-top:10px;margin-bottom:10px;">
            <label for="sel1">Delivery No : </label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></span>
                <select class="form-control" id="sel1" >
                    <option>Delivery No...</option>
                    <option>T0132413E</option>
                    <option>B1032564A</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-md-push-1" style="margin-top:10px;margin-bottom:10px;">
            <label for="sel1">Order No : </label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span></span>
                <input type="text" class="form-control" value="1" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-6 col-md-push-1" style="margin-top:10px;margin-bottom:10px;">
            <label for="sel1">DueDate : </label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                <input type="date" value="2018-02-22" class="form-control" aria-describedby="basic-addon1">

            </div>
        </div>
        <div class="col-md-6 col-md-push-1" style="margin-top:10px;margin-bottom:10px;">
            <label for="sel1">Loading Station : </label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></span>
                <select class="form-control" id="sel1">
                    <option>Loading Station...</option>
                    <option>แหลมฉบัง</option>
                    <option>สนามบินอู่ตะเภา</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-md-push-1" style="margin-top:10px;margin-bottom:10px;">
            <label for="sel1">Destination : </label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span></span>
                <select class="form-control" id="sel1">
                    <option>Destination...</option>
                    <option>BigC</option>
                    <option>Hitachi ระยอง</option>
                    <option>อมตะนคร</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-md-push-1" style="margin-top:10px;margin-bottom:10px;">


        </div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="container">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <input type="submit" class="btn btn-default" value="ตกลง" />
            <input type="submit" class="btn btn-default" value="ยกเลิก" />
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>