
@{
	ViewBag.Title = "Person";
}
<link href="~/Content/Search.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<br />
<div class="row">
	<div class="container">
		<div class="col-lg-6" align="left">
			<h2>รายชื่อในระบบทั้งหมด</h2>
		</div>
		<div class="col-lg-6" align="right" style="padding:25px;">
			<form>
				<input type="text" name="search" placeholder="Search" align="right">
			</form>
		</div>
	</div>
</div>
<br /><br />
	  <div class="row ws-content" ng-app="myApp" ng-controller="GETMessenger_join">
	  	<div class="container">
	  		<div class="table-responsive-sm">
	  			<table class="table">
	  				<thead>
	  					<tr>
	  						<th>ชื่อ นามสกุล</th>
	  						<th>เบอร์โทรศัพท์</th>
	  						<th>ประเภทรถ</th>
	  						<th>หมายเลขทะเบียนรถ</th>
	  						<th>หมายเหตุ</th>
	  					</tr>
	  				</thead>
	  				<tbody>
	  					<tr ng-repeat="item in Messenger">
	  						<td>{{item.name_surename}}</td>
	  						<td>{{item.telnumber}}</td>
	  						<td>{{item.trucktype}}</td>
	  						<td>{{item.truckno}}</td>
	  						<td><button type="button" class="btn btn-primary btn-sm"  ng-click="GETMessenger_id({{item.noid}})"> @Html.ActionLink("ข้อมูลเฉพาะบุคคล​", "Person_Single", "Admin_manage", new { @style = "color:white;" })</button></td>
	  		</tr>
	  	</tbody>
	  </table>
	  </div>
	  </div>
	  </div>