
@{
	ViewBag.Title = "Person";
}
<link href="~/Content/Search.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<br />
<div class="row">
	<div class="container">
		<div class="col-lg-6" align="left">
			<h2>รายชื่อในระบบทั้งหมด</h2>
		</div>
		<div class="col-lg-6" align="right" style="padding:25px;">
			<form>
				<input type="text" name="search" placeholder="Search" align="right">
			</form>
		</div>
	</div>
</div>
<br /><br />
<div ng-app="myApp">

	<div class="row ws-content" ng-controller="GETMessenger_join">
		<div class="container">
			<div class="table-responsive-sm">
				<table class="table">
					<thead>
						<tr>
							<th>ชื่อ นามสกุล</th>
							<th>เบอร์โทรศัพท์</th>
							<th>ประเภทรถ</th>
							<th>หมายเลขทะเบียนรถ</th>
							<th>หมายเหตุ</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in Messenger">
							<td>{{item.name_surename}}</td>
							<td>{{item.telnumber}}</td>
							<td>{{item.trucktype}}</td>
							<td>{{item.truckno}}</td>

							<td>
								<button type="button" class="btn btn-primary btn-sm" ng-click="To_Messenger_id()" ng-if="action === 'open'">เปิด</button>
								<button type="button" class="btn btn-primary btn-sm" ng-click="To_Messenger_id()" ng-if="action === 'close'">ปิด</button>
							</td>
							<td></td>
						</tr>
					</tbody>
				</table>

			</div>


		</div>

		<div ng-show="foo">
			dsdsadfwfwef
		</div>
	</div>

	

</div>
