
@{
    ViewBag.Title = "Truck_information1";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<h2>รถบรรทุกทั้งหมด</h2>

<div class="d-block bg-primary">Block</div>


