
@{
	ViewBag.Title = "Truck_information";
}
<link href="~/Content/Search.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<br />
<div class="row">
	<div class="container">
		<div class="col-lg-6" align="left">
			<h2>รถบรรทุกทั้งหมด</h2>
			<button class="btn btn-info">+&nbsp;@Html.ActionLink("เพิ่มข้อมูลรถ", "Truck_Insert", "Admin_manage", new { @style = "color:white;" })</button> 
		</div>
		<div class="col-lg-6" align="right" style="padding:25px;">
			<form>
				<input type="text" name="search" placeholder="Search" align="right">
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="container">
		<div class="col-lg-6">
			<h3>DB:gpsdata > Table:devices</h3><br />
			<table class="table" ng-app="" ng-controller="">
				<!--method get-->
				<thead>
					<tr>
						<th>id</th>
						<th>description</th>
						<th>iconType</th>
						<th>name</th>
						<th>uniqueId</th>
					</tr>
				</thead>
				<tbody ฝng-repeat="item in Messenger" style="padding-top:5px;">
					<tr>
						<td>1</td>
						<td>6887</td>
						<td>SEDAN</td>
						<td>6887</td>
						<td>131566</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-lg-6">
			<h3>DB:tms > Table:truck_mas</h3><br />
			<table class="table" ng-app="" ng-controller="">
				<!--method post-->
				<thead>
					<tr>
						<th>id</th>
						<th>truckno</th>
						<th>trucktype</th>
					
						<th>gpsdevice</th>
						<th>command</th>
					</tr>
				</thead>
				<tbody ฝng-repeat="item in Messenger" style="padding-top:5px;">
					<tr>
						<td>1</td>
						<td>7221</td>
						<td></td>
						
						<td>3</td>
						<td>
							<button type="button" class="btn btn-warning" text color="white">แก้ไข</button>
							<button type="button" class="close" aria-label="Close" onclick="delbutton()" style="margin:5px;">
								<span aria-hidden="true">&times;</span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>
	function delbutton() {
		var txt;
		var r = confirm("คุณแน่ใจว่าจะลบรายชื่อนี้ !!");
		if (r == true) {
			txt = "You pressed OK!";
		} else {
			txt = "You pressed Cancel!";
		}
		document.getElementById("demo").innerHTML = txt;
	}
</script>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
